services:
  api:
    ports:
      - "5000:5000"
      - "5555:5555"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: npm run dev

  db:
    ports:
      - "5432:5432"
